body, input[type="text"]
    font:
        family: $body-font
        size: 16px
        weight: $regular-weight

.wrapper
    display: grid
    grid-template-columns: 3fr 2fr
    grid-template-rows: min-content min-content
    max-height: 100vh

.page-header
    grid-column: 1
    grid-row: 1
    padding-left: 15%
    padding-top: 5%
    z-index: 2
    >.logo
        height: 50px

.page-content
    display: grid
    grid-template-columns: fit-content(450px)
    grid-template-rows: min-content max-content min-content
    grid-row: 1 / -1
    grid-column: 1
    grid-gap: 5%
    padding: 20% 0px 
    padding-left: 15%
    line-height: 70px
    color: $neutral-color
    background: 
        image: url("../img/bg-pattern-desktop.svg")
        repeat: no-repeat
        size: cover
    >.page-title
        text-transform: uppercase
        letter-spacing: 15px
        font: 
            size: 4rem
            weight: $semibold-weight
    >.text
        line-height: 25px
        color: $primary-color

.form-email
    display: grid
    grid-template-columns: 1fr min-content 80px
    grid-template-rows: max-content 35px
    align-items: center
    >.input
        width: 100%
        height: 50px
        padding: 0 20px
        border: 1px solid $primary-color
        border-radius: 30px
        color: $neutral-color
        font:
            size: 13px
            weight: $semibold-weight
        &::placeholder
            color: $primary-color
        
    >.iconError
        visibility: hidden
        margin-left: -50px
    >.submit
        width: 80px
        height: 100%
        margin-left: -20px
        border-radius: 30px
        box-shadow: -5px 10px 20px 0px rgba(202,85,85, 0.50)
        background:
            image: url("../img/icon-arrow.svg"), linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%))
            position: center
            repeat: no-repeat
        &:hover
            cursor: pointer
            background-image: url("../img/icon-arrow.svg"), linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%))
    >.msgError
        margin-left: 22px
        color: $secondary-color
        
.page-title
    &>span
        display: block
        color: $primary-color
        font-weight: $light-weight
 
.img
    grid-column: 2
    grid-row: 1 / -1
    display: block
    height: 100vh
    background:
        image: url("../img/hero-desktop.jpg")
        position: center
        repeat: no-repeat
        size: cover   

@media (max-width: 700px)
    .wrapper
        grid-template-columns: 1fr
        grid-template-rows: min-content min-content
        grid-template-areas:  "logo" "image" "content"
    .img
        grid-area: image
        max-height: 350px 
        background: 
            image: url("../img/hero-mobile.jpg")
            position: left
            repeat: no-repeat
            size: cover
    
    .page-header
        grid-are: logo
        padding: 8%
    
    .page-content
        grid-area: content
        text-align: center
        padding: 15% 0px
        justify-content: center
        >.page-title
            font-size: 4rem

@media (max-width: 400px)
    .page-header
        padding-left: 5%
        >.logo
            height: 30px

    .page-content
        >.page-title
            font-size: 3rem


//HEADER